.git
.DS_Store
venv
__pycache__
*.pyc

backend/data/private
backend/data/outputs
backend/data/selfies
backend/data/uploads

web-admin/node_modules
web-admin/dist
web-admin/*.tsbuildinfo
web-admin/.env

visionauth-mobile/node_modules
.expo
